* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Primary */
  --lime: hsl(61, 70%, 52%);
  --red: hsl(4, 69%, 50%);

  /* Neutral colors */
  --white: hsl(0, 0%, 100%);
  --slate-100: hsl(202, 86%, 94%);
  --slate-300: hsl(203, 41%, 72%);
  --slate-500: hsl(200, 26%, 54%);
  --slate-700: hsl(200, 24%, 40%);
  --slate-900: hsl(202, 55%, 16%);
}

html {
  position: relative;
}

body {
  background-color: var(--slate-100);
  font-family: "Plus Jakarta Sans", sans-serif;
  /* position: relative; */
}

h1 {
  line-height: 125%;
  letter-spacing: -1px;
  margin-bottom: 0.5rem;
}

.container {
  display: flex;
  flex-direction: column;
}

/* Calculator Input Section Styles */

.calculator-input {
  background-color: var(--white);
  padding: 2rem 1.5rem;
}

.calc-header {
  margin-bottom: 1.5rem;
}

.clear-btn {
  background-color: transparent;
  color: var(--slate-700);
  border: none;
  border-bottom: 1px solid var(--slate-700);
  font-size: 1rem;
  font-family: "Plus Jakarta Sans", sans-serif;
}

.clear-btn:hover {
  color: var(--slate-900);
  border-color: var(--slate-900);
  cursor: pointer;
}

.form-item {
  margin-bottom: 1.5rem;
}

.form-item label {
  display: block;
  color: var(--slate-700);
  line-height: 150%;
  margin-bottom: 0.5rem;
}

.input-field {
  position: relative;
}

.input-field:focus-within .input-icon {
  background-color: var(--lime);
}

input[type="number"] {
  border-radius: 4px;
  border: 1px solid var(--slate-500);
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  position: relative;
  width: 100%;
  font-size: 1.125rem;
  line-height: 125%;
  font-weight: 700;
  color: var(--slate-900);
  font-family: "Plus Jakarta Sans", sans-serif;
  -moz-appearance: textfield; /* hides spinner on firefox */
}

input[type="number"]:hover {
  border-color: var(--slate-900);
}

input[type="number"]:focus {
  outline: solid 1px var(--lime);
  border-color: var(--lime);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.input-icon.prefix + input[type="number"] {
  padding-left: 3.75rem;
  padding-right: 1rem;
}

.input-icon.years + input[type="number"] {
  padding-left: 1rem;
  padding-right: 35%;
}

.input-icon.percentage + input[type="number"] {
  padding-left: 1rem;
  padding-right: 25%;
}

.input-icon {
  background-color: var(--slate-100);
  color: var(--slate-700);
  padding: 0.75rem 1rem;
  font-weight: 700;
  position: absolute;
  z-index: 10;
  top: 0;
  bottom: 0;
  line-height: 125%;
  font-size: 18px;
  transition: background-color 0.2s ease;
}

.input-icon.prefix {
  border-radius: 3px 0px 0px 3px;
  margin: 1px 0px 1px 1px;
}

.input-icon.suffix {
  right: 0;
  margin: 1px 1px 1px 0px;
  border-radius: 0px 3px 3px 0px;
}

/* radio button styling */
.radio-group {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.radio-option {
  border: 1px solid var(--slate-500);
  border-radius: 4px;
  padding: 0.75rem 1rem;
  transition: border-color 0.2s ease-in;
  cursor: pointer;
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.radio-option:has(input[type="radio"]:checked) {
  background-color: rgba(216, 219, 47, 0.15);
  border-color: var(--lime);
}

.radio-option input,
.radio-option label {
  cursor: pointer;
}

.radio-option label {
  margin-bottom: 0;
  line-height: 125%;
  font-size: 1.125rem;
  color: var(--slate-900);
  font-weight: 700;
}

.radio-option:hover {
  border-color: var(--lime);
}

input[type="radio"] {
  appearance: none;
  width: 19.5px;
  height: 19.5px;
  border-radius: 50%;
  border: 1px solid var(--slate-700);
}

input[type="radio"]:checked {
  border: 1px solid var(--lime);
}

input[type="radio"]:checked::after {
  content: "";
  display: block;
  width: 9.75px;
  height: 9.75px;
  border-radius: 50%;
  background-color: var(--lime);
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.submit-btn {
  background-color: var(--lime);
  border: none;
  border-radius: 999px;
  padding: 1rem 0;
  width: 100%;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 125%;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 0.75rem;
}

.submit-btn:hover {
  cursor: pointer;
  background-color: #eced97;
}

/* results section */

.results {
  background-color: var(--slate-900);
  padding: 2rem 1.5rem;
  flex: 1;
  text-align: center;
}

.empty-illustration {
  margin-bottom: 1rem;
}

.results-header {
  color: var(--white);
  margin-bottom: 1rem;
}

.instructions {
  color: var(--slate-300);
}

/* Attribution */

.attribution {
  font-size: 11px;
  position: absolute;
  bottom: 0px;
  width: 100%;
  display: flex;
  justify-content: center;
  color: var(--white);
}
.attribution a {
  /* color: hsl(228, 45%, 44%); */
  color: var(--lime);
}

@media (min-width: 600px) {
  .attribution {
    font-size: 1.25rem;
    color: black;
  }

  .attribution a {
    color: var(--slate-700);
  }

  .container {
    margin: 5%;
  }

  .calculator-input {
    padding: 2.5rem;
    border-radius: 24px 24px 0px 0px;
  }

  .calc-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2.5rem;
  }

  h1 {
    margin-bottom: 0;
  }

  .clear-btn {
    align-self: center;
  }

  .flex {
    display: flex;
    column-gap: 1.5rem;
  }

  .flex .form-item {
    flex: 1;
  }

  .radio-group {
    row-gap: 0.75rem;
  }

  .form-item:has(input[type="radio"]) {
    margin-bottom: 2.5rem;
  }

  .submit-btn {
    width: 314px;
  }

  .results {
    border-radius: 0px 0px 24px 24px;
    padding: 2.5rem;
  }
}

@media (min-width: 1024px) {
  body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container {
    flex-direction: row;
    border-radius: 24px;
    background-color: var(--white);
    max-width: 1008px;
    margin: 0;
  }

  .calculator-input {
    flex: 1;
    border-radius: 24px 0px 0px 24px;
  }

  /* empty results */
  .results {
    border-radius: 0px 24px 24px 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
